body{
    margin: 0;
    padding: 0;
    background-color: #1f363d !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

#header{
    position: relative;
    margin-top: 0;
    height: 60px;
    background-color: #40798c;
}
.login-btn{
    padding: 4px;
    position: absolute;
    top: 20px;
    right: 10px;
    border: solid 2px #cfe0c3;
    background-color: #40798c;
    color: #cfe0c3;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
}
.login .login-btn:hover{
    background-color: #cfe0c3;
    color: #40798c;
}
.login-wrap{
    position: relative;
  background: #1f363d;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px #cfe0c3; }
  .login-wrap h3 {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .login-wrap p {
    color: rgba(255, 255, 255, 0.5); }
  .login-wrap .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px; 
}

.form-group {
    position: relative; }
    .form-group .icon {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 20px;
      height: 48px;
      background: transparent;
      font-size: 18px; }
      .form-group .icon span {
        color: #fff; }

        .form-control {
            height: 48px;
            background: rgba(0, 0, 0, 0.05);
            color: rgba(255, 255, 255, 0.8) !important;
            font-size: 14px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #cfe0c3;
            padding-left: 30px;
            padding-right: 0;
            letter-spacing: 1px;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
            @media (prefers-reduced-motion: reduce) {
              .form-control {
                -webkit-transition: none;
                -o-transition: none;
                transition: none; } }
            .form-control::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: rgba(255, 255, 255, 0.8) !important; }
            .form-control::-moz-placeholder {
              /* Firefox 19+ */
              color: rgba(255, 255, 255, 0.8) !important; }
            .form-control:-ms-input-placeholder {
              /* IE 10+ */
              color: rgba(255, 255, 255, 0.8) !important; }
            .form-control:-moz-placeholder {
              /* Firefox 18- */
              color: rgba(255, 255, 255, 0.8) !important; }
            .form-control:focus, .form-control:active {
              outline: none !important;
              -webkit-box-shadow: none;
              box-shadow: none;
              background: rgba(0, 0, 0, 0.07);
              border-color: #aec3b0; }

.btn {
    cursor: pointer;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px; }
    .btn:hover, .btn:active, .btn:focus {
      outline: none; }
    .btn.btn-primary {
      background: #cfe0c3 !important;
      border: 1px solid #a8dadc !important;
      color: #1f363d !important; }
      .btn.btn-primary:hover {
        border: 1px solid #1f363d;
        background: transparent;
        color: #a8dadc; }
      .btn.btn-primary.btn-outline-primary {
        border: 1px solid #b689b0;
        background: transparent;
        color: #b689b0; }
        .btn.btn-primary.btn-outline-primary:hover {
          border: 1px solid transparent;
          background: #b689b0;
          color: #fff; }

#panel{
    position: absolute;
    top: 150px;
    left: 200px;
    width: 80%;
    justify-content: center;
}
.grid {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
  }

.clasificados {
    color: #cfe0c3;
    text-align: center;
}
.cards{
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}
.card{
    box-shadow: 10px 5px 5px black;
    color: #1f363d;
}
.template{
    width: 100%;
}
.container h2{
    color: #cfe0c3;
    text-align: center;
}
.bg-custom, .card-body{
    background-color: #1f363d;
}
.btn-custom{
    background-color: #40798c !important;
    color: #cfe0c3 !important;
}
.fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
  .navbar{
      background-color: #40798c !important;
      color: #cfe0c3 !important;
  }

.form-control form-control-lg{
    background-color: #1f363d !important;
}
.form-control{
    background-color: #1f363d !important;
}